doctype html
include includes/credits
html(lang="en")
  include includes/head
  body
    form
      input(type='file', accept='video/*' capture='camera')
      input(type='submit')
    video(autoplay)
  include includes/footer
  include includes/scripts
